#resourceProgressbarOuter {
    width: 100%;
    border-radius: 25px;
    height: 6px;
    background-color: #cdf;
    border: 0px solid black;
}
#resourceProgressbarInner {
    width: 0%;
    border-radius: 25px;
    height: 100%;
    background-color: #79b;
    /*border: 0px solid green;*/
}
#fileProgressbarOuter {
    width: 100%;
    border-radius: 25px;
    height: 6px;
    background-color: #cdf;
    border: 0px solid black;
}
#fileProgressbarInner {
    width: 0%;
    border-radius: 25px;
    height: 100%;
    background-color: #79b;
    /*border: 0px solid green;*/
}
