#resourceProgressbarOuter {
    margin-top: 0.5em;
    left: 1em;
    right: 120px;
    position: absolute;
    border-radius: 25px;
    height: 9px;
    background-color: #E8E8C3;
    border: 0px solid black;
}
#resourceProgressbarInner {
    width: 0%;
    border-radius: 25px;
    height: 100%;
    background-color: #92CC6F;
    /*border: 0px solid green;*/
}
#fileProgressbarInner {
    width: 0%;
    border-radius: 25px;
    height: 100%;
    background-color: #0065CA;
    /*border: 0px solid green;*/
}

#murakas {
    text-align: center;
    font: caption;
    margin: 0px;
    position: fixed;
    top: 1em;
    right: 1em;
}

body
{
    font: caption;
	color: WindowText;
	background-color: Window;
	/*border: 2px solid ActiveBorder;*/
}
h1
{
    font: caption;
	color: WindowText;
}

/*leave 2 pixels of space between a focus outline and the element that has the focus or is active*/
:focus,:active  { outline-offset: 2px }
