doctype html
html
    head
        meta(charset='utf-8')
        link(rel='stylesheet', type='text/css', href='../style/style.css')
        link(rel='icon' type='image/png', href='/favicon-96x96.png' sizes='96x96')
        link(rel='shortcut icon', href='/favicon.ico')

    body

        h1#userName Panustaja
        div#selectLocalMessage Palun vali fail või kataloog, mida soovid üles laadida.
        button#selectLocal(onclick='selectLocal()') Vali fail
        input#resourceName(type='text' placeholder='Ressursi nimi' style='width:100%;' hidden='')
        div#contents
            h3#loading(hidden='') Loading...
            ul#resourceStats(hidden='')
                li#resourceDirectories
                li#resourceFiles
                ul#mimeStats
        
        script(src='../main.js')
