doctype html
html
    head
        meta(charset='utf-8')
        link(rel='stylesheet', type='text/css', href='../style/style.css')
        link(rel='icon' type='image/png', href='/favicon-96x96.png' sizes='96x96')
        link(rel='shortcut icon', href='/favicon.ico')

    body

        h1#userName() Tere
        div#selectLocal
            p#selectLocalMessage Palun vali fail(id) ja/või kataloog(id), mida soovid üles laadida.
            button#selectLocalButton(onclick='selectLocal()') Vali
        div#resourceName(hidden='')
            p#resourceNameMessage Muuda ressursi nimi sobivaks.
            input#resourceNameInput(type='text' placeholder='Ressursi nimi' style='width:100%;')
        div#loading(hidden='')
            h3 Loen failisüsteemist ...
        div#resourceStats(hidden='')
            ul#resourceStatsList
                li#resourceDirectories
                li#resourceFiles
                ul#mimeStats
        div#uploadResource(hidden='')
            p#uploadResourceMessage Ressurss on üleslaadimiseks valmis.
            button#uploadResourceButton(onclick='uploadResource()') Panusta!
        div#uploading(hidden='') 
            span= 'Kataloogid: '
            span#uploadedResources 0
            span /
            span#uploadTotalResources 0
            div#resourceProgressbarOuter
                div#resourceProgressbarInner
            span= 'Failid: '
            span#uploadedSize 0
            span /
            span#uploadTotalSize 0
            div#fileProgressbarOuter
                div#fileProgressbarInner
            pre#status
        div#thankYou(hidden='') Aitäh! 
        
        script(src='../main.js')
